<h1>Blog</h1>
<%= link_to "New Blog", new_blog_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Discription</th>
    <th>Image</th>
  </tr>
  <% @blogs.each do |blog| %>
  <tr>
  	<td><%= blog.title %></td>
  	<td><%= blog.discription %></td>
  	<td><%= image_tag(blog.image_url(:thumb)) %></td>

  </tr>
  <% end %>
  </table>