<%= form_for [@blog, @blog.comments.build],:remote => true do |f| %>
<div class = "form-group">
<%= f.label :comment %>
<%= f.text_field :comment, :class => 'form-group' %>
<%= f.submit "save" %>
</div>
<% end %>