<div class="container">
<div id="notice"><%= notice %></div>
	<strong>Link:</strong><br />
		<div class="embed-container">
			<%= embed(@playlist.link) %><br />
		</div>
<%= link_to "all Video", playlists_path %>
